#five-day-forecast {
    text-align: center;
    margin: auto;
    color: black;
}

div#five-day-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    flex-shrink: 1;
    min-width: inherit;
}

.five-day-iconAndText {
    display: flex;
    flex-direction: column;
    
    @media only screen and (max-device-width: 400px) {
        font-size: 0.8em;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}