#five-day-forecast {
    text-align: center;
    margin: auto;
    color: black;
}

div#five-day-container {
    display: flex;
    flex-direction: row;

}

.five-day-iconAndText {
    display: flex;
    flex-direction: column;
}