// <section id="diplay-current-weather">
//             <h2 id="fetched-heading-location-label">Hays, KS</h2>
//             <h3 id="dateSpace"></h3>
//             <h2 id="display-date-label" class="label-font"></h2>
//             <div id="large-central-weather-icon">
//             </div>
//             <h3 id="label-for-todays-weather" class="label-font"></h3>
//         </section>


#display-current-weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 40vh;
}